[submodule "third-party/cglm"]
	path = third-party/cglm
	url = https://github.com/recp/cglm.git
[submodule "third-party/hashmap.c"]
	path = third-party/hashmap.c
	url = https://github.com/tidwall/hashmap.c.git
[submodule "third-party/cJSON"]
	path = third-party/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "premake-emcc"]
	path = premake-emcc
	url = https://github.com/TurkeyMan/premake-emscripten.git
