[submodule "third-party/cglm"]
	path = third-party/cglm
	url = https://github.com/recp/cglm.git
[submodule "third-party/hashmap.c"]
	path = third-party/hashmap.c
	url = https://github.com/tidwall/hashmap.c.git
[submodule "third-party/cJSON"]
	path = third-party/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "premake-emcc"]
	path = third-party/premake5-emcc
	url = https://github.com/TurkeyMan/premake-emscripten.git
[submodule "third-party/cimgui/dear_bindings"]
	path = third-party/cimgui/dear_bindings
	url = https://github.com/dearimgui/dear_bindings.git
[submodule "third-party/cimgui/imgui"]
	path = third-party/cimgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = git@github.com:techie-guy/GLFW.git
	branch = android-support
[submodule "third-party/premake-androidndk"]
	path = third-party/premake-androidndk
	url = https://github.com/Triang3l/premake-androidndk.git
[submodule "third-party/enet"]
	path = third-party/enet
	url = https://github.com/lsalzman/enet.git
