bin
compile_commands.json
.cache
*.session
*.make
*.mk
Makefile
imgui.ini
android-project-tmp
android-project/app/build
android-project/app/src/main/assets
android-project/.gradle
build
tmp/

third-party/glfw/src/wayland-client-protocol-code.h
third-party/glfw/src/wayland-client-protocol.h
third-party/glfw/src/wayland-idle-inhibit-unstable-v1-client-protocol-code.h
third-party/glfw/src/wayland-idle-inhibit-unstable-v1-client-protocol.h
third-party/glfw/src/wayland-pointer-constraints-unstable-v1-client-protocol-code.h
third-party/glfw/src/wayland-pointer-constraints-unstable-v1-client-protocol.h
third-party/glfw/src/wayland-relative-pointer-unstable-v1-client-protocol-code.h
third-party/glfw/src/wayland-relative-pointer-unstable-v1-client-protocol.h
third-party/glfw/src/wayland-viewporter-client-protocol-code.h
third-party/glfw/src/wayland-viewporter-client-protocol.h
third-party/glfw/src/wayland-xdg-decoration-client-protocol-code.h
third-party/glfw/src/wayland-xdg-decoration-client-protocol.h
third-party/glfw/src/wayland-xdg-shell-client-protocol-code.h
third-party/glfw/src/wayland-xdg-shell-client-protocol.h
