[submodule "third-party/cglm"]
	path = third-party/cglm
	url = https://github.com/recp/cglm.git
[submodule "third-party/hashmap.c"]
	path = third-party/hashmap.c
	url = https://github.com/tidwall/hashmap.c.git
[submodule "third-party/cJSON"]
	path = third-party/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "premake-emcc"]
	path = third-party/premake5-emcc
	url = https://github.com/TurkeyMan/premake-emscripten.git
[submodule "third-party/cimgui/dear_bindings"]
	path = third-party/cimgui/dear_bindings
	url = https://github.com/dearimgui/dear_bindings.git
[submodule "third-party/cimgui/imgui"]
	path = third-party/cimgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
